
@{
    ViewData["Title"] = "Home Page";
}

@model ProjecstListViewModel
<!-- Main heading of the webpage -->


    <h1> The Book Project </h1>
   
  @foreach(Book p in Model.Books)
    {
        <partial name ="ProjectSummary" model="p" />
     }
<!-- Pagination control for navigating through pages -->

<div page-model="@Model.PaginationInfo" page-action="Index" 
page-classes-enabled="true" page-class="btn"
page-class-normal="btn-outline-dark" page-class-selected="btn-primary" 
class="btn-group pull-right m-1"></div>